.header {
  position: relative;
  inline-size: 100%;
  block-size: 800px;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/images/header-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__menu-list {
  display: flex;
  list-style: none;
}

.header__menu-list-item {
  block-size: 100px;
  inline-size: 133px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__menu-list-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.header__logo {
  block-size: 150px;
  inline-size: 150px;
  margin-block-start: 25px;
  margin-inline: 35px;
}

.header__group {
  padding-block-start: 147px;
  display: flex;
}

.header__group-date {
  transform: rotate(-90deg);
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
}

.header__group-conteiner {
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-inline-end: 184px;
}

.header__group-text {
  color: #FFF;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.header__group-title {
  color: #FFF;
  text-align: center;
  font-family: 'Banny', sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.header__group-rectangle {
  align-self: center;
  block-size: 5.11px;
  margin-block-end: 25px;
  inline-size: 60px;
  background-color: #E8C300;
  border-radius: 50px;
}

.accent__button {
  align-self: center;
  display: flex;
  gap: 40px;
}

.header__group-button {
  block-size: 60px;
  inline-size: 200px;
  border: none;
  border-radius: 5px;
}

.header__group-button:first-of-type {
  background-color: #E8C300;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.header__group-button:last-of-type {
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.header__group-social-link-list {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

.header__group-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  border-radius: 50%;
}

.header__down-button {
  block-size: 40px;
  inline-size: 40px;
  margin-block-start: 95px;
  cursor: pointer;
  border: none;
  outline: 1px solid rgba(255, 255, 255, 0.20);
  outline-offset: 10px;
  border-radius: 50%;
}

.header__line-1 {
  width: 530px;
  height: 1px;
  position: absolute;
  left: 80px;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.20);
}

.header__line-2 {
  width: 530px;
  height: 1px;
  position: absolute;
  right: 80px;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.20);
}

.header__line-3 {
  width: 1px;
  height: 699px;
  position: absolute;
  left: 295px;
  top: 100px;
  background: rgba(255, 255, 255, 0.20);
}

.header__line-4 {
  width: 1px;
  height: 699px;
  position: absolute;
  right: 295px;
  top: 100px;
  background: rgba(255, 255, 255, 0.20);
}

.header__line-5 {
  width: 1px;
  height: 82px;
  position: absolute;
  left: 50%;
  bottom: 0;
  background: rgba(255, 255, 255, 0.20);
}

.header__line-6 {
  width: 1px;
  height: 454px;
  position: absolute;
  left: 50%;
  bottom: 141px;
  background: rgba(255, 255, 255, 0.20);
}

.about {
  margin: 100px 80px 189px;
  display: grid;
  grid-template-columns: 600px 600px;
  column-gap: 80px;
}

.about__arcticle {
  inline-size: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-column: 1/2;
  align-self: center;
}

.about__title {
  margin: 0 138px 0 192px;
  text-align: center;
  color: #000;
  font-family: 'Banny', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.about__rectangle {
  margin: 0 242px 0 298px;
  block-size: 5px;
  inline-size: 59.2px;
  border-radius: 50px;
  background: #E8C300;
}

.about__text-bold {
  text-align: center;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.about__text {
  padding-block-start: 10px;
  text-align: center;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.about__img-box {
  block-size: 475px;
  grid-column: 2/3;
  position: relative;
}

.about__img {
  block-size: 100%;
  inline-size: 475px;
  object-fit: cover;
}

.about__square {
  position: absolute;
  right: 0;
  top: 113px;
  block-size: 250px;
  inline-size: 250px;
  border: 20px solid #E8C300;
  border-radius: 5px;
}

.menu {
  margin-inline: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__title {
  margin-block-end: 10px;
  color: #000;
  font-family: 'Banny', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.menu__rectangle {
  margin-block-end: 21px;
  block-size: 5px;
  inline-size: 61px;
  border-radius: 50px;
  background-color: #E8C300;
}

.menu__description {
  inline-size: 565px;
  color: #000;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.menu__posiitions {
  margin-block-start: 60px;
  display: flex;
  list-style: none;
}

.menu__posiitions-item {
  inline-size: 120px;
  text-align: center;
}

.menu__positions-link {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  position: relative;
}

.menu__positions-link:not(:last-of-type)::after {
  content: "";
  width: 1px;
  height: 50px;
  position: absolute;
  bottom: -15px;
  right: -42px;
  background-color: rgba(51, 51, 51, 0.20);
}

.menu__section-dish {
  margin-block-start: 70px;
  display: grid;
  grid-template-columns: repeat(3, 363px);
  column-gap: 95px;
}

.menu__section-dish-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu__section-dish-title {
  color: #333;
  font-family: 'Banny', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.menu__section-dish-description {
  color: rgba(51, 51, 51, 0.50);
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.menu__letter-spacing {
  letter-spacing: 5.3px;
}

.photo__galerie {
  margin-block-start: 84px;
  display: flex;
  justify-content: center;
}

.photo__galerie-item {
  block-size: 360px;
  inline-size: 360px;
}
